# editors
*.swp
*~

# build
build*/
cmake-build-*/
.releases/

twister-out*/

*.code-workspace
.idea/
.vscode/

.venv*/
venv*/

VERSION

# Tester script output
*_read_hist.log

# Mac OSX Files
.DS_Store

# SonarCube Scan
.scannerwork

