[submodule "b0_hook"]
	path = b0_hook
	url = https://github.com/ruuvi/ruuvi.air.b0.git
[submodule "mcuboot_hook"]
	path = mcuboot_hook
	url = https://github.com/ruuvi/ruuvi.air.mcuboot.git
[submodule "fw_loader"]
	path = fw_loader
	url = https://github.com/ruuvi/ruuvi.air.fw_loader.git
[submodule "components/ruuvi.endpoints.c"]
	path = components/ruuvi.endpoints.c
	url = https://github.com/ruuvi/ruuvi.endpoints.c.git
