# Ruuvi RuuviAir configuration

# Copyright (c) 2025 Ruuvi Innovations Ltd (Oy)
# SPDX-License-Identifier: Apache-2.0

if BOARD_RUUVI_RUUVIAIR

config BT_CTLR
	default BT

endif # BOARD_RUUVI_RUUVIAIR
