/**
 * @copyright Ruuvi Innovations Ltd, license BSD-3-Clause.
 */

 #include <zephyr/dt-bindings/led/led.h>

/* This overlay file is used by the main ruuvi.air project, MCUboot and B0,
   so the path to lp5810.h must be relative to
   "ruuvi.air/boards/ruuvi/ruuviair/dts"
   because only this directory is added to the include path for all 3 projects:
   the main ruuvi.air project, MCUboot and B0.
*/
#include <../../../../drivers/lp5810/include/lp5810.h>

/ {
	gpio_enable_sensors: gpio_enable_sensors {
		compatible = "power-switch";
		status = "okay";
		gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH)>;
	};
};

&gpio0 {
	status = "okay";
	gpio-reserved-ranges = <0 2>, <6 1>, <8 3>, <17 7>, <26 2>;
	gpio-line-names =
		"XL1",                       // GPIO 0 *
		"XL2",                       // GPIO 1 *
		"AREF",                      // GPIO 2
		"A0",                        // GPIO 3
		"A1",                        // GPIO 4
		"UART0_RTS",                 // GPIO 5
		"UART0_TXD",                 // GPIO 6 *
		"UART0_CTS",                 // GPIO 7
		"UART0_RXD",                 // GPIO 8 *
		"NFC1",                      // GPIO 9 *
		"NFC2",                      // GPIO 10 *
		"BUTTON1 - BUTTON_PINHOLE",  // GPIO 11
		"BUTTON2",                   // GPIO 12
		"LED1 - PINHOLE_LED_GREEN",  // GPIO 13
		"LED2 - PINHOLE_LED_RED",    // GPIO 14
		"LED3",                      // GPIO 15
		"LED4",                      // GPIO 16
		"QSPI CS",                   // GPIO 17 *
		"RESET",                     // GPIO 18 *
		"QSPI CLK",                  // GPIO 19 *
		"QSPI DIO0",                 // GPIO 20 *
		"QSPI DIO1",                 // GPIO 21 *
		"QSPI DIO2",                 // GPIO 22 *
		"QSPI DIO3",                 // GPIO 23 *
		"BUTTON3",                   // GPIO 24
		"BUTTON4",                   // GPIO 25
		"I2C_SDA (D14)",             // GPIO 26 *
		"I2C_SCL (D15)",             // GPIO 27 *
		"A2",                        // GPIO 28
		"A3",                        // GPIO 29
		"A4",                        // GPIO 30
		"A5";                        // GPIO 31
};

&gpio1 {
	status = "okay";
	gpio-reserved-ranges = <5 2>;
	gpio-line-names =
		"",                     // GPIO 0
		"ENABLE_SENSORS (D0)",  // GPIO 1
		"RTC_INT (D1)",         // GPIO 2
		"D2",                   // GPIO 3
		"D3",                   // GPIO 4
		"PDM_DIN (D4)",         // GPIO 5 *
		"PDM_CLK (D5)",         // GPIO 6 *
		"D6",                   // GPIO 7
		"D7",                   // GPIO 8
		"",                     // GPIO 9
		"D8",                   // GPIO 10
		"D9",                   // GPIO 11
		"D10",                  // GPIO 12
		"D11",                  // GPIO 13
		"D12",                  // GPIO 14
		"D13";                  // GPIO 15
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	DPS310@77 {
		status = "okay";
		compatible = "infineon,dps310";
		reg = <0x77>;
	};

	OPT4060@44 {
		status = "okay";
		compatible = "ti,opt4060";
		reg = <0x44>;
	};

	rtc_pcf85263a: pcf85263a@51 {
		status = "okay";
		inta-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		compatible = "nxp,pcf85263a";
		reg = <0x51>;
	};

	LP5810@58 {
		status = "okay";
		compatible = "ti,lp5810";
		reg = <0x58>;
		// max_curr_opt; // Uncomment to set max current to 51 mA
		lod_action_cur_out_shutdown; // Shut down current sink when LED open fault happens
		// lsd_action_all_out_shutdown; // Shut down all OUTs when LED short fault happens.
		lsd_threshold = <LP5810_LSD_THRESHOLD_065_VOUT>;
		led_0 {
			label = "LP5810 Red LED";
			index = <0>;
			color-mapping =
				<LED_COLOR_ID_RED>;
		};

		led_1 {
			label = "LP5810 Green LED";
			index = <1>;
			color-mapping =
				<LED_COLOR_ID_GREEN>;
		};

		led_2 {
			label = "LP5810 Blue LED";
			index = <2>;
			color-mapping =
				<LED_COLOR_ID_BLUE>;
		};
	};
};

/ {
	aliases {
		rtc-0 = &rtc_pcf85263a;
	};
};
