name: Build direct_test_mode

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ '*' ]
    types: [opened, synchronize, reopened]

env:
  NCS_VERSION: v2.8.0

jobs:
  build:
    name: Build direct_test_mode
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y srecord

      - name: Checkout the code
        uses: actions/checkout@v4     # Checks-out repository under $GITHUB_WORKSPACE
        with:
          path: ruuvi.air.c
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
          submodules: true

      - name: Checkout submodules
        run: cd ruuvi.air.c && git submodule update --init --recursive

      # Step 1: Cache nrfutil
      - name: Cache nrfutil
        id: cache-nrfutil
        uses: actions/cache@v4
        with:
          path: nrfutil-bin
          key: nrfutil-${{ runner.os }}-v1

      # Step 2: Install nrfutil if cache misses
      - name: Install nrfutil
        if: steps.cache-nrfutil.outputs.cache-hit != 'true'
        run: |
          mkdir -p nrfutil-bin
          wget "https://files.nordicsemi.com/ui/api/v1/download?repoKey=swtools&path=external/nrfutil/executables/x86_64-unknown-linux-gnu/nrfutil&isNativeBrowsing=false" -O nrfutil-bin/nrfutil
          chmod +x nrfutil-bin/nrfutil

      # Step 3: Add nrfutil to PATH
      - name: Add nrfutil to PATH
        run: echo "${{ github.workspace }}/nrfutil-bin" >> $GITHUB_PATH

      # Step 4: Verify nrfutil Installation
      - name: Verify nrfutil Installation
        run: nrfutil --version

      # Step 5: Cache nrfutil Toolchain Manager
      - name: Cache nrfutil Toolchain Manager
        id: cache-nrfutil-tcm
        uses: actions/cache@v4
        with:
          path: ~/.nrfutil
          key: nrfutil-tcm-${{ runner.os }}-v1

      # Step 6: Install the Toolchain Manager
      - name: Install nRF Connect SDK Toolchain Manager
        if: steps.cache-nrfutil-tcm.outputs.cache-hit != 'true'
        run: nrfutil install toolchain-manager

      # Step 7: Cache the nRF Connect SDK
      - name: Cache nRF Connect SDK
        id: cache-ncs
        uses: actions/cache@v4
        with:
          path: ~/ncs
          key: ncs-${{ runner.os }}-${{ env.NCS_VERSION }}-v1

      # Step 8: Install the Toolchain and SDK if cache misses
      - name: Install nRF Connect SDK Toolchain and SDK
        if: steps.cache-ncs.outputs.cache-hit != 'true'
        run: |
          nrfutil toolchain-manager install --ncs-version $NCS_VERSION
          # Workaround for "git-remote-https: error while loading shared libraries: libunistring.so.2: cannot open shared object file: No such file or directory"
          # https://devzone.nordicsemi.com/f/nordic-q-a/106982/error-installing-nrf-connect-sdk-in-vscode-linux-libunistring-so-2-cannot-open-shared-object-file-no-such-file-or-directory
          rm ~/ncs/toolchains/b81a7cd864/usr/lib/x86_64-linux-gnu/libpsl.so.5*
          cd ~/ncs
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          west init -m https://github.com/nrfconnect/sdk-nrf --mr $NCS_VERSION $NCS_VERSION
          cd ~/ncs/$NCS_VERSION
          west update

      - name: zephyr-export
        run: |
          set -x
          cd ~/ncs/$NCS_VERSION
          nrfutil toolchain-manager launch west -- zephyr-export

      - name: Check directories
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          echo HOME: $HOME
          echo PATH: $PATH
          west --version
          which clang-format
          clang-format --version
          which python
          python --version
          which python3
          python3 --version
          pwd
          ls -la .
          ls -la ./ruuvi.air.c
          ls -la ~
          ls -la ~/ncs
          ls -la ~/ncs/$NCS_VERSION
          cd ~/ncs/$NCS_VERSION/zephyr && git describe --tags

      - name: Install Python dependencies
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          python3 -m pip install --upgrade pip
          pip3 install ecdsa

      - name: Create symlink to code in ncs directory
        run: |
          set -x
          ln -s $GITHUB_WORKSPACE/ruuvi.air.c ~/ncs/$NCS_VERSION/ruuvi.air.c

      - name: Build Bluetooth Direct Test Mode
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          ORIG_DIR=$(pwd)
          cd ./ruuvi.air.c/direct_test_mode
          ./build_nrf52840dk.sh
          ./build_ruuviair.sh
          ./build_ruuviair_chan37.sh
          ./build_ruuviair_chan38.sh
          ./build_ruuviair_chan39.sh
          cd $ORIG_DIR
          mkdir -p direct_test_mode
          mkdir -p direct_test_mode/nrf52840dk
          mkdir -p direct_test_mode/ruuviair
          ls -la
          cp ./ruuvi.air.c/direct_test_mode/build_nrf52840dk/direct_test_mode/zephyr/direct_test_mode.hex direct_test_mode/nrf52840dk/direct_test_mode.hex
          cp ./ruuvi.air.c/direct_test_mode/build_ruuviair/direct_test_mode/zephyr/direct_test_mode.hex direct_test_mode/ruuviair/direct_test_mode.hex
          cp ./ruuvi.air.c/direct_test_mode/build_ruuviair_chan37/direct_test_mode/zephyr/direct_test_mode_37.hex direct_test_mode/ruuviair/direct_test_mode_37.hex
          cp ./ruuvi.air.c/direct_test_mode/build_ruuviair_chan38/direct_test_mode/zephyr/direct_test_mode_38.hex direct_test_mode/ruuviair/direct_test_mode_38.hex
          cp ./ruuvi.air.c/direct_test_mode/build_ruuviair_chan39/direct_test_mode/zephyr/direct_test_mode_39.hex direct_test_mode/ruuviair/direct_test_mode_39.hex

      - name: Remove symlink to code in ncs directory
        run: |
          set -x
          rm ~/ncs/$NCS_VERSION/ruuvi.air.c

      - name: Upload artifact direct_test_mode
        uses: actions/upload-artifact@v4
        with:
          name: direct_test_mode
          path: |
            direct_test_mode/nrf52840dk/direct_test_mode.hex
            direct_test_mode/ruuviair/direct_test_mode.hex
            direct_test_mode/ruuviair/direct_test_mode_37.hex
            direct_test_mode/ruuviair/direct_test_mode_38.hex
            direct_test_mode/ruuviair/direct_test_mode_39.hex
