name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]
    types: [opened, synchronize, reopened]

env:
  NCS_VERSION: v2.8.0

jobs:
  unit-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc g++ cmake make ninja-build
          sudo apt-get install -y git wget libncurses-dev flex bison gperf python3 python3-pip python3-setuptools python3-serial python3-click python3-cryptography python3-future python3-pyparsing python3-pyelftools ccache libffi-dev libssl-dev
          sudo apt-get install -y locales
          sudo locale-gen de_DE.UTF-8
          sudo apt-get install -y ruby
          # Install the 32-bit libraries required for building unit-tests for 'native_sim' target
          # Otherwise, the build will fail with the error "/usr/include/stdint.h:26:10: fatal error: bits/libc-header-start.h: No such file or directory"
          sudo apt-get install gcc-multilib
          # Workaround for the problem on Ububtu_22.04: "ImportError: libffi.so.7: cannot open shared object file: No such file or directory"
          wget http://archive.ubuntu.com/ubuntu/pool/main/libf/libffi/libffi7_3.3-4_amd64.deb
          sudo dpkg -i libffi7_3.3-4_amd64.deb

      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ruuvi.air.c
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
          submodules: true

      - name: Checkout submodules
        run: cd ruuvi.air.c && git submodule update --init --recursive

      # Step 1: Cache nrfutil
      - name: Cache nrfutil
        id: cache-nrfutil
        uses: actions/cache@v4
        with:
          path: nrfutil-bin
          key: nrfutil-${{ runner.os }}-v1

      # Step 2: Install nrfutil if cache misses
      - name: Install nrfutil
        if: steps.cache-nrfutil.outputs.cache-hit != 'true'
        run: |
          mkdir -p nrfutil-bin
          wget "https://files.nordicsemi.com/ui/api/v1/download?repoKey=swtools&path=external/nrfutil/executables/x86_64-unknown-linux-gnu/nrfutil&isNativeBrowsing=false" -O nrfutil-bin/nrfutil
          chmod +x nrfutil-bin/nrfutil

      # Step 3: Add nrfutil to PATH
      - name: Add nrfutil to PATH
        run: echo "${{ github.workspace }}/nrfutil-bin" >> $GITHUB_PATH

      # Step 4: Verify nrfutil Installation
      - name: Verify nrfutil Installation
        run: nrfutil --version

      # Step 5: Cache nrfutil Toolchain Manager
      - name: Cache nrfutil Toolchain Manager
        id: cache-nrfutil-tcm
        uses: actions/cache@v4
        with:
          path: ~/.nrfutil
          key: nrfutil-tcm-${{ runner.os }}-v1

      # Step 6: Install the Toolchain Manager
      - name: Install nRF Connect SDK Toolchain Manager
        if: steps.cache-nrfutil-tcm.outputs.cache-hit != 'true'
        run: nrfutil install toolchain-manager

      # Step 7: Cache the nRF Connect SDK
      - name: Cache nRF Connect SDK
        id: cache-ncs
        uses: actions/cache@v4
        with:
          path: ~/ncs
          key: ncs-${{ runner.os }}-${{ env.NCS_VERSION }}-v1

      # Step 8: Install the Toolchain and SDK if cache misses
      - name: Install nRF Connect SDK Toolchain and SDK
        if: steps.cache-ncs.outputs.cache-hit != 'true'
        run: |
          nrfutil toolchain-manager install --ncs-version $NCS_VERSION
          # Workaround for "git-remote-https: error while loading shared libraries: libunistring.so.2: cannot open shared object file: No such file or directory"
          # https://devzone.nordicsemi.com/f/nordic-q-a/106982/error-installing-nrf-connect-sdk-in-vscode-linux-libunistring-so-2-cannot-open-shared-object-file-no-such-file-or-directory
          rm ~/ncs/toolchains/b81a7cd864/usr/lib/x86_64-linux-gnu/libpsl.so.5*
          cd ~/ncs
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          west init -m https://github.com/nrfconnect/sdk-nrf --mr $NCS_VERSION $NCS_VERSION
          cd ~/ncs/$NCS_VERSION
          west update

      - name: zephyr-export
        run: |
          set -x
          cd ~/ncs/$NCS_VERSION
          nrfutil toolchain-manager launch west -- zephyr-export

      - name: Check directories
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          echo HOME: $HOME
          echo PATH: $PATH
          west --version
          which clang-format
          clang-format --version
          which python
          python --version
          which python3
          python3 --version
          pwd
          ls -la .
          ls -la ./ruuvi.air.c
          ls -la ~
          ls -la ~/ncs
          ls -la ~/ncs/$NCS_VERSION
          cd ~/ncs/$NCS_VERSION/zephyr && git describe --tags

      - name: Create symlink to code in ncs directory
        run: |
          set -x
          ln -s $GITHUB_WORKSPACE/ruuvi.air.c ~/ncs/$NCS_VERSION/ruuvi.air.c

      - name: Build tests for nRF52840DK
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          cd ~/ncs/$NCS_VERSION/ruuvi.air.c
          twister -c -p nrf52840dk/nrf52840 \
            -x=EXTRA_DTC_OVERLAY_FILE="$PWD/dts_nrf52840dk.overlay;$PWD/dts_common.overlay" \
            -v -T . --inline-logs

      - name: Build tests for RuuviAir
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          cd ~/ncs/$NCS_VERSION/ruuvi.air.c
          twister -c --board-root $PWD/boards -x=BOARD_ROOT=$PWD -p ruuvi_ruuviair/nrf52840 \
            -x=EXTRA_DTC_OVERLAY_FILE="$PWD/dts_common.overlay" \
            -v -T . --inline-logs

      - name: Build and run tests for native_sim
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          cd ~/ncs/$NCS_VERSION/ruuvi.air.c
          twister -c -p native_sim -v -T . --inline-logs

      - name: Build and run tests for native_sim/native/64
        run: |
          set -x
          eval "$(nrfutil toolchain-manager env --ncs-version $NCS_VERSION --as-script)"
          source ~/ncs/$NCS_VERSION/zephyr/zephyr-env.sh
          cd ~/ncs/$NCS_VERSION/ruuvi.air.c
          twister -c -p native_sim/native/64 -v -T . --inline-logs

      - name: Remove symlink to code in ncs directory
        run: |
          set -x
          rm ~/ncs/$NCS_VERSION/ruuvi.air.c
